<div class="p-3">
    <div class="text-center">
        <h2>Contact Form</h2>
    </div>

    <div class="p-4">
        <form [formGroup]="contactForm">
            <div class="form-group">
                <label>Enter Name</label>
                <input type="text" class="form-control" formControlName="name" placeholder="Enter name">
                <p class="mb-0 error" *ngIf="getformControl('name').touched && getformControl('name').errors?.required">
                    * Name is required
                </p>
            </div>

            <div class="form-group">
                <label>Enter Mobile Number</label>
                <input type="tel" class="form-control" formControlName="mobile" placeholder="Enter Mobile Number">
                <p class="mb-0 error"
                    *ngIf="getformControl('mobile').touched && getformControl('mobile').errors?.required">
                    * Mobile is required
                </p>
            </div>


            <div class="form-group">
                <label>Enter Email</label>
                <input type="email" class="form-control" formControlName="email" placeholder="Enter email">
                <p class="mb-0 error"
                    *ngIf="getformControl('email').touched && getformControl('email').errors?.required">
                    * Email is required
                </p>
            </div>

            <div class="form-group">
                <label>Enter Country</label>
                <input type="text" class="form-control" formControlName="country" placeholder="Enter Country">
                <p class="mb-0 error"
                    *ngIf="getformControl('country').touched && getformControl('country').errors?.required">
                    * Country is required
                </p>
            </div>

            <div>
                <!-- <button type="submit" [disabled]="!contactForm.valid" class="btn btn-primary float-right"
                (click)="triggerme()">Trigger Me</button> -->
                <button type="submit" [disabled]="!contactForm.valid" class="btn btn-primary text-start"
                    (click)="triggerme()">Submit Form Data</button>

            </div>
        </form>
    </div>
</div>

<!-- <app-contact-form-list></app-contact-form-list> -->